<app-page-container height="85" width="75">
  <aside class="w-1/4 border-r">
    <div class="flex items-center justify-between p-4 border-b">
      <h1 class="text-3xl font-bold text-teal-600">QuickChat</h1>

      <p-menu #menu [model]="menuItems" [popup]="true" />
      <button
        class="w-10 h-10 rounded-full hover:bg-slate-100 active:bg-slate-200"
        (click)="menu.toggle($event)"
      >
        <i class="uil uil-ellipsis-v text-2xl"></i>
      </button>
    </div>

    <form [formGroup]="searchForm" class="my-3 w-full px-3 relative">
      <p-iconField iconPosition="left" styleClass="w-full block absolute left-3">
        <p-inputIcon styleClass="uil uil-search flex items-center justify-center h-full" />
        <input 
          class="w-full pl-10 px-3 py-2 border border-gray-300 rounded-full shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm bg-slate-50 hover:bg-slate-100 transition-colors"
          type="text" 
          formControlName="search" 
          pInputText 
          placeholder="Search by name"
        />
      </p-iconField>
    </form>

    <app-chat-list />
  </aside>
  <main class="w-3/4"></main>
</app-page-container>
