<app-page-container pageType="chat">
  <aside class="w-full md:w-1/4 md:border-r relative">
    <div class="flex items-center justify-between p-4 border-b">
      <h1 class="text-3xl font-bold text-teal-600">QuickChat</h1>

      <p-menu #menu [model]="menuItems" [popup]="true" />
      <button
        class="w-10 h-10 rounded-full hover:bg-slate-100 active:bg-slate-200"
        (click)="menu.toggle($event)"
      >
        <i class="uil uil-ellipsis-v text-2xl"></i>
      </button>
    </div>

    <form [formGroup]="searchForm" class="my-3 w-full px-3 relative">
      <app-search-input controlName="search" placeholder="Search by name" />
    </form>

    <app-chat-list [chats]="filteredChats()" />

    <app-loading-button class="absolute bottom-3 inset-x-3 md:w-auto" (click)="newChatModal.show()"
      >Start new chat</app-loading-button
    >
  </aside>
  <main class="w-3/4 hidden md:block"></main>
</app-page-container>

<app-new-chat-modal #newChatModal />