<app-page-container height="85" width="75">
  <aside class="w-1/4 border-r">
    <div class="flex items-center justify-between p-4 border-b">
      <h1 class="text-3xl font-bold text-teal-600">QuickChat</h1>

      <p-menu #menu [model]="menuItems" [popup]="true" />
      <button
        class="w-10 h-10 rounded-full hover:bg-slate-500/10 active:bg-slate-500/20"
        (click)="menu.toggle($event)"
      >
        <i class="uil uil-ellipsis-v text-2xl"></i>
      </button>
    </div>
  </aside>
  <main class="w-3/4"></main>
</app-page-container>
