<app-auth-layout>
  <app-auth-header title="Create a new account"></app-auth-header>

  <div class="w-full sm:max-w-lg">
    <div class="bg-white sm:py-8 sm:rounded-lg sm:px-10">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
          <app-form-input
            label="Display Name"
            type="text"
            controlName="displayName"
          ></app-form-input>
        </div>

        <div>
          <app-form-input
            label="Email"
            type="email"
            controlName="email"
          ></app-form-input>
        </div>

        <div>
          <app-form-input
            label="Password"
            type="password"
            controlName="password"
          ></app-form-input>
        </div>

        <div>
          <app-loading-button
            [loading]="isLoading()"
            [disabled]="signupForm.invalid || isLoading()"
          >
            Sign up
          </app-loading-button>
        </div>
      </form>

      <app-auth-footer
        title="Already have an account?"
        link="/login"
        linkText="Sign in"
      ></app-auth-footer>
    </div>
  </div>
</app-auth-layout>
