<app-auth-layout>
  <app-auth-header title="Sign in to your account"></app-auth-header>

  <div class="w-full sm:max-w-lg">
    <div class="bg-white sm:py-8 sm:rounded-lg sm:px-10">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
          <app-form-input
            label="Email"
            type="email"
            controlName="email"
          ></app-form-input>
        </div>

        <div>
          <app-form-input
            label="Password"
            type="password"
            controlName="password"
          ></app-form-input>
        </div>

        <div>
          <app-loading-button
            [loading]="isLoading()"
            [disabled]="loginForm.invalid || isLoading()"
          >
            Sign in
          </app-loading-button>
        </div>
      </form>

      <app-auth-footer
        title="Don't have an account?"
        link="/signup"
        linkText="Sign up"
      ></app-auth-footer>
    </div>
  </div>
</app-auth-layout>
