<p-dialog
  header="Start new chat"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="visible"
  [breakpoints]="{'768px': '90vw'}"
  [style]="{ width: '25vw', height: '30vh' }"
  styleClass="new-chat-modal"
>
  <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-3">
      <app-form-input
        label="Email"
        type="email"
        controlName="email"
      ></app-form-input>

      <div class="flex justify-end gap-3 mt-4">
        <button type="button" (click)="visible.set(false)">Cancel</button>
        <app-button
          [loading]="loading()"
          [disabled]="chatForm.invalid || loading()"
        >
          Start chat
        </app-button>
      </div>
    </div>
  </form>
</p-dialog>
